certifi==2019.9.11
chardet==3.0.4
Django==1.11.26
idna==2.6
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
requests==2.22.0
html5lib==0.999
pycurl==7.19.3
python-apt==0.9.35ubuntu2
pillow==5.0.0
colorama==0.2.5
django-forms-bootstrap==3.1.0